.estate-container .slick-slider {
  height: 750px;
}

.estate-container .slick-slide img {
  max-width: 100%;
  width: auto;
  height: auto;
  max-height: 750px;
  margin: 0 auto;
}

.estate-data-container {
  padding: 30px;
}

.estate-row {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.info {
  align-items: initial;
}

.estate-location {
  padding: 20px 0 12px 20px;
  position: relative;
}

.estate-location:before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 25px;
  width: 14px;
  height: 19px;
  background-image: url('./../../pointer.png');
  background-size: 14px;
  background-position-y: 19px;
}

.estate-address {
  color: #a3742c;
  font-size: 26px;
}

.estate-district {
  color: #777;
  font-size: 20px;
}

.estate-price-block {
  color: #ccc;
  background-color: #1f1a17;
  padding: 20px;
  min-width: 320px;
}

.estate-price,
.estate-price .estate-table-second {
  font-size: 20px;
}

.estate-expenses {
  font-size: 14px;
  line-height: 18px;
}

.estate-row hr {
  margin: 15px 0;
  border: 0;
  border-top: 1px solid rgb(85, 85, 85);
}

hr {
  border: 0;
  border-top: 1px solid rgb(194, 194, 194);
  margin: 50px 0;
}

.estate-table-second {
  font-size: 16px;
  float: right;
  color: #a3742c;
}

.estate-feature-grid {
  min-width: 340px;
}

.estate-feature-grid p {
  padding: 1px 5px;
  color: #333;
}

.estate-feature-grid p:nth-child(odd) {
  background: #ccc;
}

.estate-text {
  font-size: 14px;
  white-space: pre-line;
  color: #333;
}

.estate-contact {
  display: flex;
  width: 360px;
}

.estate-contact-image {
  width: 180px;
}

.estate-contact-image img {
  width: 100%;
}

.estate-contact-info {
  padding-left: 20px;
  color: rgb(65, 65, 65);
}

.estate-contact-info a {
  color: #a3742c;
  text-decoration: none;
}

.estate-contact-author {
  font-size: 24px;
  color: #a3742c;
}

.estate-contact-title {
  font-size: 14px;
}

.slick-slider .slick-next:before,
.slick-slider .slick-prev:before {
  color: #848484;
}