.filter-main-container {
  padding-top: 40px;
}

.filter-container {
  background-color: rgba(33, 22, 22, 0.1);
  color: black;
  padding: 17px;
  margin: 0 0 57px;
  border-top: 1px solid #a3742c;
}

.filter-title {
  font-size: 20px;
  background-color: #a3742c;
  color: #ffffff;
  display: inline;
  padding: 3px 8px 0;
}

.filter-item {
  display: inline-block;
  margin-right: 18px;
}

.filter-item:last-child {
  margin-right: 0;
}

.seperator {
  padding: 0 3px;
}

select {
  background-color: #ffffff;
  border: none;
  width: 105px;
  height: 24px;
  cursor: pointer;
}

select:focus,
input:focus {
  outline: none;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input {
  width: 57px;
  height: 24px;
  border: none;
  padding: 0 0 0 7px;
}

input.small {
  width: 30px;
}

label {
  color: black;
  display: block;
}