.item-container {
  width: 223px;
  display: inline-block;
  margin-right: 33px;
  margin-bottom: 30px;
  border: 1px solid transparent;
  text-decoration: none;
}

.item-container:nth-child(4n) {
  margin-right: 0;
}

.item-container:hover {
  border: 1px solid #ececec;
  cursor: pointer;
}

.images {
  width: 100%;
  vertical-align: top;
  overflow: hidden;
  height: 167px;
}

.images-container {
  width: 223px;
  text-align: center;
}

.item-container .slick-slider {
  height: 167px;
}

.slick-slider .slick-prev {
  left: 0;
  z-index: 1;
}

.slick-slider .slick-next {
  right: 0;
}

.item-container .slick-slide img {
  max-width: 100%;
  width: auto;
  height: auto;
  max-height: 167px;
  margin: 0 auto;
}

.item-container .slick-next:before,
.item-container .slick-prev:before {
  color: #848484;
}

.item-info-block {
  margin: 0 10px;
}

.item-info {
  padding: 12px 0;
  border-bottom: 1px solid #b3b3b3;
  display: flex;
  justify-content: space-around;
  text-align: center;
  color: #555;
  font-size: 14px;
}

.item-location {
  padding: 20px 0 12px 12px;
  border-bottom: 1px solid #b3b3b3;
  position: relative;
}

.item-location:before {
  content: " ";
  display: block;
  position: absolute;
  left: -1px;
  top: 24px;
  width: 10px;
  height: 14px;
  background-image: url('./../../pointer.png');
  background-size: 10px;
  background-position-y: 14px;
}

.address {
  color: #a3742c;
  font-size: 18px;
}

.district {
  color: #777;
  font-size: 14px;
}

.item-price {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #a3742c;
}

.item-price p {
  display: inline;
  font-weight: bold;
  padding-right: 5px;
  font-size: 24px;
}

.item-price span {
  font-size: 14px;
}