header {
  width: 100%;
  height: 100px;
  background-color: #1f1a17;
}

footer {
  color: #777;
  width: 1010px;
  margin: 0 auto;
  padding: 5px 0;
}

.header-container{
  width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}

.logo {
  width: 230px;
}

img {
  width: 100%;
}

header ul {
  list-style-type: none;
}

header li {
  display: inline;
  margin-left: 20px;
}

header li a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

main {
  width: 1000px;
  margin: 0 auto;
  background-color: #fff;
  padding: 10px;
}
