.contacts-container {
  padding: 20px 10px 10px;
}

.contacts-block {
  margin-bottom: 60px;
}

.contacts-block:last-child {
  margin-bottom: 0;
}

.contacts-block-title {
  border-bottom: 1px solid #a3742c;
}

.contacts-block-title span {
  background-color: #a3742c;
  color: #ffffff;
  padding: 2px 7px 0;
  font-size: 20px;
}

.contacts-block-content {
  padding: 20px 10px;
  white-space: pre-line;
}

.contacts-contact-container {
  display: inline-block;
  width: 50%;
}

.contacts-contact {
  display: flex;
}

.contacts-contact-image {
  width: 180px;
}

.contacts-contact-image img {
  width: 100%;
}

.contacts-contact-info {
  padding-left: 20px;
  color: rgb(65, 65, 65);
}

.contacts-contact-author {
  font-size: 24px;
  color: #a3742c;
}

.contacts-contact-title {
  font-size: 14px;
}

.contacts-block-content.contacts {
  text-align: center;
  color: #a3742c;
  font-size: 20px;
}